// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// $paragraph-color: #c4c4c4;
$button-height: 82px;

$paragraph-color: #6c757d;
$primary-orange: #fe5d26;
$primary-green: #21c25e;
